.container {
    background-color:white;
    width: 50%;
    margin-left: 25%;
    margin-top: 10%;
    height: 690px;
    box-shadow:10px 10px 10px;
}

.inputfields{
    width: 70%;
    height: 50px;
    text-align: center;
    border-radius: 10px;
    border: 2px solid black;
}
.button{
    width: 40%;
    height: 50px;
    border-radius:10px;
    font-size: 19px;
    background-color:#6610f2;
    cursor: pointer;
}